/*
Legacy from original Website
*/

body {
    background-color: #C8B6A6;
    margin:0;
    font-family: monospace;
}

a:hover::before{
    content: "> ";
}

li a:hover::before{
    content: "> ";
}

.icon {
    background-color: #8D7B68;
    border-radius:50%;
}

.bg-brown {
    background-color: #DECAAD;
}

.bg-lessbrown {
    background-color: #D4C6A5;
}

.border-rad-5 {
    border-radius:5px;
}

.longerHR


/*
    Modification of existiing Bootstraps classes because I don't like their asethethics
*/


.nav-pills {
    background-color: #807158;
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #807158;
    --bs-nav-pills-link-active-bg: #FFF5ED;
}

.nav-pills .nav-link.active {
    background-color: #807158;
}

.nav {
    --bs-nav-link-hover-color: #755951;    
}

.nav-link {
    color: #755951;
}   

.container {
    flex-wrap:wrap;
}

/*
Unique Shit
*/

.link-color-unique {
    color: #755951
}