body {
    background-color: #C8B6A6;
    margin:0;
    font-family: monospace;
    

}
hr {
    background-color: #8D7B68;
    border-color: #8D7B68;
    border-style: inset none none none;
    border-width: 5px;
    height: 0px;
    width: 40%;

}
h1 {
    color: #006E33;
    font-family: monospace;
    margin-top:1px;
    margin-bottom:0px;
    margin-left:10%;
    
}
h2 {
    font-family: monospace;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:10%;
}
.divPositioner {
    margin: 5px 20% 5px 20%;
    content: "";
    clear: both;

}
.TopContainer {
    background-color:#C8B6A6;
    margin: 0px 10% 0px 10%;

}
.Middle1Container {
    background-color: #A4907C;
    border-color:#F1DEC9;
    border-radius: 10px 10px 10px 10px;
    margin: 5px;

}
.Middle2Container {
    background-color: #F1DEC9;
    /*margin-top:0px;*/
    border-color:#F1DEC9;
    border-radius: 10px 10px 10px 10px;
    margin: 5px;
}

.textContainer {
    font: "Fira Sans", serif;
    margin: 2% 10% 2% 10%;
}

li {
    margin-left:5%;
}

ol {
    margin-left:2%;
}


image {
    background-color:#8D7B68;
}

.dip {
    background-color:#8D7B68;
}

.maindescriptor{
    text-underline-position: under
}

.terminalSetup {
    padding: 5px;
    margin: 5px 10% 10px 10%;
    font-size: 1.1em;
}

.terminalColor {
    background-color: #002200;
    border: 5px solid #463D34;
    color: #b0b050;
}



p {
    white-space: pre-line;
  
}

li a:hover::before{
    content: "> ";
}

